*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.envrc
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# Misc.
.DS_Store
.python-version
.python-virtualenv
